{%- import 'backend/macros.html' as s with context -%}
{%- extends s.layout() -%}
{%- block header -%}
    {%- if scaffolding %}
        {% block partial_related_area %}{{s.partial_include('partial_related_area.html')}}{% endblock %}
        {% block partial_list_area %}{{s.partial_include('partial_nav_list.html')}}{% endblock %}
    {%- endif %}
{% endblock %}
{%- block layout_content -%}
<div class="col-sm-12" style=" margin-top: 30px;margin-bottom: 30px;">
    <div class="ibox-content">
    請至 <a href="https://console.firebase.google.com/">https://console.firebase.google.com/</a> 進行相關服務的 api key 設置

        <div class="row">
            Google
            啟用
            firebase.auth.GoogleAuthProvider.PROVIDER_ID
        </div>
        <div class="row">
            Facebook
            啟用
            firebase.auth.FacebookAuthProvider.PROVIDER_ID
        </div>
        <div class="row">
            Facebook 想要存取的範圍 Scope
            <input type="text" name="facebook_scope" >
        </div>

        <div class="row">
            Twitter
            啟用
            firebase.auth.TwitterAuthProvider.PROVIDER_ID
        </div>
        <div class="row">
            Github
            啟用
            firebase.auth.GithubAuthProvider.PROVIDER_ID
        </div>
        <div class="row">
            Email and password
            啟用
            firebase.auth.EmailAuthProvider.PROVIDER_ID
        </div>
    </div>
</div>
{% endblock %}

